<%= form_with url: create_article_path, local: true do |f| %>
    <p>
        <% if @article.errors.any? %>
            <ul>
                <% @article.errors.full_messages.each do |mes| %>
                    <li><%= mes %></li>
                <% end %>
            </ul>
        
        <% end %>
    </p>
    
    
    <p>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :body %><br/>
        <%= f.text_field :body %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>